$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "bootflat/bootflat/scss/bootflat.scss";
// import font-awesome
$fa-font-path: "fonts";
@import "font-awesome/scss/font-awesome.scss";

@import "compass";

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

@import "mixins";

.profile-page {
  @extend .row;

  .profile {
    @include make-md-column(6);
    &.default {
      @include make-md-column-offset(3);
    }
    &.edit {
      user-select: none;
      cursor: default;
    }
  }
  .editor {
    textarea {
    }
    @include make-md-column(6);
  }
}

.guild-grid {
  @extend .row;

  .tile {
    @include make-md-column(3);

    .contents {
      @extend .jumbotron;

      transition: all .2s linear;

      &:hover {
        @extend .frame-z2;
      }

      .picture {
        @extend .jumbotron-photo;
      }

      .texts {
        @extend .jumbotron-contents;
        .name {
        }
        .description{
        }
        .link {

        }
      }
    }
  }
}

.page {

}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding-top: 70px;
  padding-bottom: 30px;
  flex: 1;
}

html, body {
  height: 100%;
}

.frame-z0 {
  z-index: 0;
  @include frame-animation;
}

.frame-z1 {
  z-index: 1;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  @include frame-animation;
}

.frame-z2 {
  z-index: 2;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  @include frame-animation;
}

.frame-z3 {
  z-index: 3;
  box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19);
  @include frame-animation;
}

.frame-z4 {
  z-index: 4;
  box-shadow: 0px 16px 28px 0 rgba(0, 0, 0, 0.22);
  @include frame-animation;
}

.frame-z5 {
  z-index: 5;
  box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
  @include frame-animation;
}