$icon-font-path: "../styles/fonts/"; // Change the path to the fonts

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "bootflat/bootflat/scss/bootflat.scss";

// import font-awesome
$fa-font-path: "fonts";
@import "font-awesome/scss/font-awesome.scss";

@import "compass";

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

$footer-height: 100px;

.page {

}

.guild-grid {
  @extend .row;

  .tile {
    @include make-md-column(3);

    .contents {
      @extend .jumbotron;
      //@extend .row;

      .picture {
        @extend .jumbotron-photo;
      }

      .texts {
        @extend .jumbotron-contents;
        .name {
        }
        .description{
        }
        .link {

        }
      }
    }
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding-top: 70px;
  flex: 1;
}

html, body {
  height: 100%;
}