<div class="page">
  <table>
    <tbody>
      {{#each model.attributes}}
      <tr>
        <td>
          <strong>{{this.key}}:</strong>
        </td>
        <td>
          {{this.value}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>